<!doctype html>
<html lang="sv" ng-app="app">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="sip-0.11.3.min.js"></script>
    <script src="underscore-min.js"></script>
<script>
angular.module('app', [])
.controller('DesignMockup', ['$scope','$http', function ($scope, $http){

  $scope.loggedIn = false;

  $scope.currentPhoneNumber = '+46709515359';
  $scope.activeCall = false;
  $scope.incoming = false;

  $scope.outInNumbers = {
    "1":{id:1, number:"+46766860672"},
    "2":{id:2, number:"+46101994035"}
  };
  $scope.selectedOutInNumber = $scope.outInNumbers["1"];

  $scope.ownNumbers = _.pluck($scope.outInNumbers, 'number');

  $scope.session = {"status":0};

  $scope.password = '';

  $scope.login = function(password){
    $scope.loggedIn = true;
    $scope.password = password;

    $scope.userAgent = new SIP.UA({ 
        transportOptions: {
          wsServers: [
            'wss://api.46elks.com/a1/webrtc/ws',
            'wss://bpi.46elks.com/a1/webrtc/ws',
            'wss://cpi.46elks.com/a1/webrtc/ws']
          },
          uri: '4600100089@voip.46elks.com',
          authorizationUser: '4600100089',
          password: password,
          registerExpires: 600,
          displayName: "KG",
          traceSip: true,
          sessionDescriptionHandlerFactoryOptions: {
            constraints: {
              audio: true,
              video: false
            }
          }
        }
    );

    $scope.userAgent.on('message', function(message){
      console.log('incoming message: ');
      console.log(message);
    });

    $scope.userAgent.on('invite', function (incomingSession) {

      console.log('INCOMING SESSION!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!');

      // If call is ongloing terminate new call.
      if ($scope.session.status == 12) {
        incomingSession.terminate()
        return;
      }

      // Set global call to incomming call.
      $scope.session = incomingSession;

      // Add sound to browser when call is connected.
      $scope.session.on('accepted', $scope.addSound);

      $scope.session.on('bye', function(message){
        console.log('bye');
        console.log(message);
        $scope.activeCall = false;
        $scope.incoming = false;
      });
      $scope.session.on('cancel', function(message){
        console.log('cancel');
        console.log(message);
        $scope.activeCall = false;
        $scope.incoming = false;
      });
      
      $scope.session.on('failed', function(request){

        $scope.activeCall = false;
        var cause = request.cause; //sometimes this is request.reason_phrase
        if (cause === SIP.C.causes.REJECTED) {
          console.log('rejected');

        }

        $scope.$apply();
      });

      $scope.activeCall = true;

      // If the call is comming from self (outgoing call)
      // make automatic pickup.
      //if($scope.session.remoteIdentity.uri.user == $scope.outinnumber){
      if(_.indexOf($scope.ownNumbers, $scope.session.remoteIdentity.uri.user)>-1){
        console.log('self initiated call');
        $scope.session.accept();
      }
      // In other case play ringtone.
      else {
        console.log('incoming call');
        $scope.incoming = true;
        $scope.ringAudio.play();
        $scope.$apply();
        console.log(JSON.stringify($scope.session.remoteIdentity));
      }

      $scope.$apply();

    });

  }




  // Initiate ring sound
  $scope.ringAudio = new Audio('mp3_bass.mp3');
  $scope.ringAudio.loop = true;


    // Add sound from the remote caller to the browser.
  $scope.addSound = function(){
    var domElement = document.getElementById('audio');
    var pc = $scope.session.sessionDescriptionHandler.peerConnection;
    var remoteStream = new MediaStream();
    pc.getReceivers().forEach(
      function(receiver) {
        var track = receiver.track;
        if (track) {
          remoteStream.addTrack(track);
        }
      }
    );
    domElement.srcObject = remoteStream;
    domElement.play();
  }

  

  $scope.hangUp = function(){
    $scope.activeCall = false;
    $scope.incoming = false;
    if($scope.session && $scope.session.status!=0){
      $scope.session.terminate();
      $scope.ringAudio.pause();
    }
  }

  $scope.answer = function(){
    $scope.incoming = false;
    $scope.ringAudio.pause();
    $scope.session.accept();
  }

  // Initate outgoing all with a request to the API for call.
  $scope.startCall = function(to) {
    $scope.activeCall = true;
    var domElement = document.getElementById('audio');
    domElement.play();

    $http.get('https://orders.tctc.se/phone/call.json?from='+escape($scope.selectedOutInNumber.number)+'&to='+escape($scope.currentPhoneNumber)+'&secret='+$scope.password)
    .then(
      function(response){
        console.log(response);
      },
      function(error){
        console.log(error);
      }
    );

  }

  $scope.type = function(str){
    $scope.currentPhoneNumber += str;
    if($scope.currentPhoneNumber=='0'){
      $scope.currentPhoneNumber='+46';
    }
  }
  $scope.erase = function(){
    $scope.currentPhoneNumber = $scope.currentPhoneNumber.slice(0,-1);
  }

}]);
</script>

  <link rel="stylesheet" href="style.css">

  <title>Hello, world!</title>
</head>
<body ng-controller="DesignMockup" ng-cloak>
  
  <div id="settings">
    <label for="number">My Number</label>
    <select class="form-control" ng-model="selectedOutInNumber" ng-options="option.number for option in outInNumbers track by option.id"></select>
  </div>


  <div id="phone" ng-class="{incoming:incoming, active:activeCall}">
    <div id="login" ng-if="!loggedIn">
        <p class="text-center">
            Password
        </p>
        <input type="text" ng-model="password" placeholder="Type here..." />
        <div class="buttons text-center">
          <a href="" class="btn-call" ng-click="login(password)"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
    <div id="incoming" ng-if="incoming">
      <p class="text-center">
        Incoming
      </p>
      <p class="text-center">
        <big>+46 709 51 53 59</big>
      </p>

      <div class="text-center buttons">
        <a href="" class="btn-call" ng-click="answer()"><i class="fas fa-phone"></i></a>
        <a href="" class="btn-hangup" ng-click="hangUp()"><i class="fas fa-times"></i></a>
      </div>
    </div>
    <div class="row" ng-if="!incoming && loggedIn">
        <div class="col">
          <input id="phoneNumber" type="text" ng-model="currentPhoneNumber" />
        </div>
    </div>
    <div id="keys" ng-if="activeCall && !incoming && loggedIn">
      <div class="btn-row">
        <a href="" class="btn-phone" ng-click="mute()"><i class="fas fa-microphone-slash"></i></a>
        <a href="" class="btn-phone" ng-click="showKeys()"><i class="fas fa-th"></i></a>
        <a href="" class="btn-phone" ng-click="type(3)"><i class="fas fa-volume-up"></i></a>
      </div>      
    </div>
    <div id="keys" ng-if="!incoming && !activeCall && loggedIn">
      <div class="btn-row">
        <a href="" class="btn-phone" ng-click="type(1)">1</a>
        <a href="" class="btn-phone" ng-click="type(2)">2</a>
        <a href="" class="btn-phone" ng-click="type(3)">3</a>
      </div>
      <div class="btn-row">
        <a href="" class="btn-phone" ng-click="type(4)">4</a>
        <a href="" class="btn-phone" ng-click="type(5)">5</a>
        <a href="" class="btn-phone" ng-click="type(6)">6</a>
      </div>
      <div class="btn-row">
        <a href="" class="btn-phone" ng-click="type(7)">7</a>
        <a href="" class="btn-phone" ng-click="type(8)">8</a>
        <a href="" class="btn-phone" ng-click="type(9)">9</a>
      </div>
      <div class="btn-row">
        <a href="" class="btn-phone" ng-click="type('*')">*</a>
        <a href="" class="btn-phone" ng-click="type(0)">0</a>
        <a href="" class="btn-phone" ng-click="type('#')">#</a>
      </div>
    </div>
    <div ng-if="!incoming && loggedIn" class="text-center buttons">
      <a href="" class="btn-call" ng-if="!activeCall" ng-click="startCall(currentPhoneNumber)">call</a>
      <a href="" class="btn-hangup" ng-if="activeCall" ng-click="hangUp()"><i class="fas fa-times"></i></a>
      <a href="" class="backspace" ng-click="erase()" ng-if="currentPhoneNumber!=''"><i class="fas fa-backspace"></i></a>
    </div>

  </div>
  
  <audio id="audio"></audio>

  <div id="lightbox" ng-click="closeLight()" class="invisible" ng-class="{invisible:!lightbox}"></div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>